@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700&family=Baloo+2&family=Gideon+Roman&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

/* html {
  width: 100vw;
} */