.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    margin: 0px 30px 0px 30px;
    border-radius: 10px;
    font-family: 'Baloo 2', cursive;
}

.about-text {
    padding: 15px;
    max-width: 700px;
    font-size: 20px;
}