.podcast-container {
    /* display: flex; */
    margin: 15px;
}

.podcast__title {
    font-family: 'Arima Madurai', cursive;
}

.podcast__description {
    font-family: 'Baloo 2', cursive;
}

.podcast_thumbnail {
    border-radius: 5px;
    float: left;
    margin-right: 20px;
    margin-bottom: 3px;
}

.podcast_button-add {
    color: green;
    font-size: 30px;
}

.podcast_button-add:hover {
    color: rgb(0, 94, 0);
}


.podcast_button-remove {
    color: red;
    font-size: 30px;
}

.podcast_button-remove:hover {
    color: rgb(199, 0, 0);
}

.audio-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
