@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.form-container {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  font-family: 'Barlow', sans-serif;
}

.form__label {
  font-size: 20px;
  margin: 0px 0px 0px 15px;
}

.form__input {
  margin: 10px 15px 10px 15px;
  height: 30px;
  width: 80%;
  font-size: 15px;
}

.form__button--submit {
  font-family: 'Barlow', sans-serif;
  font-size: 15px;
  height: 25px;
  border-radius: 3px;
  margin: 0px 15px 0px 15px;
  padding-bottom: 3px;
}

