@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

@media only screen and (min-width: 600px) {
  .header-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
    padding: 15px;
  }

  .header__title {
    text-align: center;
    width: 300px;
    font-size: 30px;
  }
  
  .header__logo {
    width: 300px;
    font-size: 50px;
  }
}

.mobile__title-icon {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #758BFD;
  width: 100%;
  z-index: 1;
}

.header__title {
  font-family: 'Barlow', sans-serif;
  margin-left: 8px;
  font-size: 25px;
}

.header__logo {
  width: 30px;
  margin: 5px;
  font-size: 50px;
}



