@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto:wght@500&display=swap');

.podcast-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Barlow', sans-serif;
  margin-top: 0px;
}

img {
  max-width: 375px;
  margin: 0;
  width: 100%;
}

.podcast__title {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.podcast__title-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.podcast__button--add {
  height: 30px;
  width: 30px;
  font-size: 30px;
  color: #68A357;
  margin: 0px 20px 0px 20px;
}

.podcast__button--add:active {
  color: lightslategrey;
}

.podcast__button--add:hover {
  color: lightslategrey;
}

.podcast__button--icon--remove {
  height: 30px;
  width: 30px;
  font-size: 30px;
  color: #E71D36;
  margin: 0px 20px 0px 20px;
}

.podcast__description {
  margin: 15px;
}

.podcast__audio {
  margin: 10px 0px 20px 0px;
}

.audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.episode-pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.older-episodes {
  align-items: center;
  text-align: right;
  margin-left: 200px;
}

.list-container {
  margin-top: 60px;
}