.main-podcast-title {
  margin: 75px 15px 15px 15px;
  font-size: 30px;
  font-family: 'Barlow', sans-serif;
  text-align: center;
}

.main-podcast-description {
  font-family: 'Barlow', sans-serif;
  margin: 10px;
}