@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.podcast_results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.results-btn-container {  
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.results__btn {
  padding-top: 3px;
  margin: 10px 10px 10px 10px;
}

.results__p--loading {
  font-family: 'Barlow', sans-serif;
  text-align: center;
  margin: 20px;
}

.my-list__p__empty {
  font-family: 'Barlow', sans-serif;
  text-align: center;
  margin-top: 100px;
}
